body{
    background-color: #121212;
}

.container{
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

h1{
    font-size: 50px;
    font-family: sans-serif;
    color: white;
    text-shadow: 1px 1px 2px rgba(74, 73, 73, 0.7);
}

.flexbox{
    display: flex;
    border-radius: 10px;
    padding: 20px;
    border: 1px solid #ddd;
    gap:30px;
    
}

.item{
    color: white;
    background-color: rgb(44, 139, 247);
    border-radius: 10px;
    padding: 30px;
    font-size: 20px;
    flex: 1;  
    text-align: center;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 20px;
    border-radius: 10px;
    border: 1px solid #ddd;
    padding: 20px;
}

.grid-item{
    color: white;
    background-color: rgb(19, 242, 153);
    border-radius: 10px;
    padding: 30px;
    font-size: 20px;
    text-align: center;
}